@import "../../../../styles/variables/scss.constants.scss";

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  min-height: 10vh;
  color: $mainWhiteColor;
  background: $mainDarkBg25;
}
