.imageCard {
  display: flex;
  flex-direction: column;

  &-image {
    border-radius: 16px;
    object-fit: contain;
    min-width: 50px;
    min-height: 100px;
    max-width: 200px;
    max-height: 400px;
  }
}
