@import "../../../styles/variables/scss.constants.scss";

.header {
  display: flex;
  align-items: center;
  min-height: 6vh;
  background-color: $deepPurple;
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  &_titleLink {
    margin: 16px;
    text-decoration: none;

    &-title {
      color: $mainWhiteColor;
      font-size: $fontMainTitleNormal;
      line-height: 40px;
    }
  }

  &_nav {
    display: flex;
    margin: 16px;
    &-ul {
      &-list {
        &_linkContainer {
          display: flex;
          gap: 16px;
        }
        &_link {
          font-size: $fontCardTitleBig;
          font-weight: 400;
          text-decoration: none;
          color: $mainWhiteColor;
        }
      }
    }
  }
}
