@import "../../../styles/variables/scss.constants.scss";
@import "../../../styles/anim/anim.scss";

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 15vh;
  background: rgba(0 0 0);
  position: relative;

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 16px;
  }

  &_containerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255 255 255 / 0.1);
    border-radius: 12px;
    width: 100%;
    height: 50%;
    margin-left: 16px;
    animation: fall-left-to-right 0.6s ease-in-out forwards;
  }

  &_line {
    height: 100%;
    width: 8vw;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    position: relative;
    z-index: 9999;
    animation: fall-left-to-right 0.6s ease-in-out forwards;
  }

  &_containerText {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    gap: 16px;

    &-title {
      font-size: 32px;
      font-weight: 700;
      line-height: 48px;
      color: rgb(255 255 255 / 0.8);
      animation: fall 2s ease-in-out forwards;
    }

    &-text {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      color: rgba(255, 255, 255, 0.6);
      text-shadow: 6px -6px 1px rgba(34, 136, 238, 0.3);
      transition: transform 0.3s ease, color 0.3s ease;
      animation: fall 2s ease-in-out forwards;

      &:hover {
        transform: rotate(10deg);
        text-shadow: 0px 0px 1px rgba(255 255 255 / 0.3);
        color: rgba(34, 136, 238, 1);
      }
    }
  }

  &_titleLink {
    margin: 16px;
    text-decoration: none;

    &-title {
      position: relative;
      font-size: 72px;
      color: rgb(255 255 255 / 0.8);
      line-height: 84px;
      min-height: 96px;
      font-weight: 900;
      animation: fall 2s ease-in-out forwards;

      &::before {
        content: "gr1175";
        font-style: italic;
        font-size: 36px;
        position: absolute;
        top: -25px;
        left: 30px;
        font-weight: 100;
        text-shadow: none;
        color: rgba(34, 136, 238, 0.5);
      }
    }
  }

  &_nav {
    display: flex;
    margin: 16px;

    &-ul {
      &-list {
        &_linkContainer {
          display: flex;
          gap: 16px;
          background-color: rgba(34, 136, 238);
          border-bottom-left-radius: 999px;
          min-height: 100vh;
          position: fixed;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 20vw;
          top: 0px;
          right: 0px;
          animation: fall 1.5s ease-in-out forwards;
          z-index: 9998;
        }

        &_link {
          font-size: $fontCardTitleBig;
          font-weight: 400;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.openButton {
  position: fixed;
  top: 20px;
  right: 8vw;
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 333px;
  border-top-left-radius: 999px;
  border-top-right-radius: 333px;
  width: 52px;
  height: 60px;
  background: white;
  box-shadow: inset 0px 0px 12px 1px black;
  z-index: 9999;
  animation: fall-left-to-right 0.8s ease-in-out forwards;
}

.header_nav-ul-list_linkContainer {
  animation: fallNavigate 1.2s ease-in-out forwards;

  &.reverse-animation {
    animation: fallNavigate-reverse 1.2s ease-in-out forwards;
  }
}
