@import "../../../../styles/variables/scss.constants.scss";

.search {
  height: 100%;
  margin: 16px;
  &_block {
    display: flex;

    &_form {
      min-height: 4vh;
      background-color: $SecondOrange;
      border: none;
      border-radius: 18px;

      &-content {
        display: flex;
        color: white;

        &-input {
          min-width: 6vw;
          min-height: 3vh;
          border: none;
          padding: 12px;
          border-right: 1px solid black;
          outline: none;
          background: none;
          color: rgb(255, 255, 255);

          &::placeholder {
            color: rgba(255, 255, 255, 0.7);
            font-style: italic;
          }
        }

        &-submit {
          width: 64px;
          cursor: pointer;
          border: none;
          background: none;
        }
      }
    }
  }
}
