@import "../../../styles/variables/scss.constants.scss";
@import "../../../styles/anim/anim.scss";
.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: $mainLightBg;

  &_block {
    display: flex;
    flex-direction: column;
    margin: 16px;
  }

  &_container {
    display: flex;
    flex-direction: column;
    min-height: 900px;
    width: 100%;

    &-search {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 8px;
      position: relative;
      min-height: 20vh;
      background: linear-gradient(
        180deg,
        rgb(0, 0, 0) 0%,
        rgb(255 255 255) 95%
      );
    }
  }

  &_ImagesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;

    &-image {
      display: flex;
    }
  }

  &_welcomeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
