/* background color */
$mainDarkBg: rgb(0, 0, 0);
$mainDarkBg25: rgba(0 0 0 / 0.25);
$mainDarkBg50: rgba(0 0 0 / 0.5);
$mainDarkBg75: rgba(0 0 0 / 0.75);
$mainLightBg: rgb(255, 255, 255);
$mainLightBg25: rgba(255 255 255 / 0.25);
$mainLightBg50: rgba(255 255 255 / 0.5);
$mainLightBg75: rgba(255 255 255 / 0.75);

$mainWhiteColor: rgb(255, 255, 255);
$mainWhiteColor25: rgba(255 255 255 / 0.25);
$mainWhiteColor50: rgba(255 255 255 / 0.5);
$mainWhiteColor75: rgba(255 255 255 / 0.75);

$SecondOrange: rgba(34, 136, 238);
$SecondOrange25: rgba(34 136 238 / 0.25);
$SecondOrange50: rgba(34 136 238 / 0.5);
$SecondOrange75: rgba(34 136 238 / 0.75);

$deepBlue: rgb(100, 0, 33); // Deep Blue
$deepBlue25: rgba(73 0 102 / 0.25);
$deepBlue50: rgba(73 0 102 / 0.25);
$deepBlue75: rgba(73 0 102 / 0.25);

/* font size */
// main title
$fontMainTitleBig: 48px;
$fontMainTitleNormal: 40px;
$fontMainTitleSmall: 32px;
// title
$fontCardTitleBig: 24px;
$fontCardTitleNormal: 18px;
$fontCardTitleSmall: 16px;
// text
$fontCardTextBig: 18px;
$fontCardTextNormal: 16px;
$fontCardTextSmall: 14px;

/* line height */
