/* background color */
$mainBg: rgb(0, 0, 0);
$mainBg25: rgba(0 0 0 / 0.25);
$mainBg50: rgba(0 0 0 / 0.5);
$mainBg75: rgba(0 0 0 / 0.75);
$altBg: rgb(255, 255, 255);
$altBg25: rgba(255 255 255 / 0.25);
$altBg50: rgba(255 255 255 / 0.5);
$altBg75: rgba(255 255 255 / 0.75);

/* color */
$mainColor: rgb(255, 255, 255);
$mainColor25: rgba(255 255 255 / 0.25);
$mainColor50: rgba(255 255 255 / 0.5);
$mainColor75: rgba(255 255 255 / 0.75);

/* font size*/
// main title
$fontMainTitleBig: 48px;
$fontMainTitleNormal: 40px;
$fontMainTitleSmall: 32px;
// title
$fontCardTitleBig: 24px;
$fontCardTitleNormal: 18px;
$fontCardTitleSmall: 16px;
// text
$fontCardTextBig: 18px;
$fontCardTextNormal: 16px;
$fontCardTextSmall: 14px;

/* line height*/
